.people_letter_div {
	padding: 2vw;
	background-color: plum;
	color: white;
	padding-left: 15vw;
}

.globant-logo_img {
	width: 12%;
}

.people-key_div {
	text-align: center;
	font-size: 30px;
	background-color: #5c96be;
	color: white;
	padding: 1vw;
}

.people-cards_container {
	margin: 1vw;
	display: inline-flex;
	padding-left: 2.5vw;
}

h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
	font-weight: bold;
	font-size: 3vw;
	padding-top: 1vw;
}

h4 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
	font-size: 2vw;
	margin: 0;
	font-weight: bold;
}