.values_background {
  background-size: contain;
  background-color: white;
  background-image: url(../../../assets/images/values-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.values_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 5vw;
}

.values-accordion-container {
    margin-top: 5%;
    margin-left: 50%;
  }
  
  mat-expansion-panel-header {
    font-weight: 500;
  }
  
  #values-accordion-1, #values-accordion-2, #values-accordion-3, #values-accordion-4{
    color:#5c0794;
  }
  
  #values-accordion-1 strong, #values-accordion-2 strong{
    color: #E9188F;
  }
  
  #values-accordion-3 strong{
    color: #ed863a
  }
  
  #values-accordion-4 strong{
    color: #37c9ae;
  }
  
  li {
    border-bottom: 1px #ccc dotted;
    list-style: none;
    padding-bottom: 2%;
  }
  