<div class="values_background">
  <div class="values_container">
    <div class="values-accordion-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title id="values-accordion-1">
              Excellence in your work
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description id="values-accordion-1">
            <ul>
              <li><strong>F</strong>ocused</li>
              <li><strong>C</strong>ommited</li>
            </ul>
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title id="values-accordion-2"> Act Ethically </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description id="values-accordion-2">
              <ul>
                <li><strong>I</strong>ntegrity</li>
              </ul>
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title id="values-accordion-3">
              Constantly Innovative | Think Big
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description id="values-accordion-3">
            <ul>
              <li><strong>F</strong>ast Learner</li>
              <li><strong>C</strong>lear Thinker</li>
              <li><strong>I</strong>nnovative</li>
            </ul>
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title id="values-accordion-4"> Team Player | Have Fun </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description id="values-accordion-4">
            <ul>
              <li><strong>F</strong>lexible</li>
              <li><strong>C</strong>ollaborative</li>
              <li><strong>I</strong>nclusive</li>
            </ul>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <app-footer [isNextVisible]="true" [previousPath]="'triforce'" [nextPath]="'people'"></app-footer>
</div>
