.ready_background {
  background-size: cover;
  background-image: url(../../../assets/images/ready_background.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.ready_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0;
  margin-left: 10%;
}

.globant_logo_img-white {
  width: 15%;
  transition: all 0.5s;
}

.globant_logo_img-white:hover {
  width: 30%;
}

.ready_container h1 {
  color: white;
  font-size: 4vw;
  border-bottom: solid white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  margin-top: 18%;
  width: fit-content;
  padding: 1%;
}
