<div class="career-path_background">
  <div class="career-path_container">
    <div class="accordion-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title id="accordion-1"> SENIOR MGMT </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description id="accordion-1">
            <ul>
              <li>CTO</li>
              <li>STUDIO PARTNER | VP TECH</li>
            </ul>
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title id="accordion-2"> EXPERT & MGM </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description id="accordion-2">
            <div>
              <ul>
                <li><strong>L6</strong> SUBJECT MATTER EXPERT</li>
                <li><strong>L5</strong> SUBJECT MATTER EXPERT</li>
                <li><strong>L4</strong> SUBJECT MATTER EXPERT</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><strong>L6</strong> TECHNICAL DIRECTOR</li>
                <li><strong>L5</strong> TECHNICAL DIRECTOR</li>
                <li><strong>L4</strong> TECHNICAL DIRECTOR</li>
              </ul>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title id="accordion-3"> SENIOR </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description id="accordion-3">
            <ul>
              <li><strong>L3</strong> ARCHITECT</li>
              <li><strong>L2</strong> SOFTWARE DESIGNER</li>
              <li><strong>L1</strong> SENIOR</li>
            </ul>
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title id="accordion-4">
              INITIAL AND MID LEVEL
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description id="accordion-4">
            <ul>
              <li>SEMI SENIOR ADV</li>
              <li>SEMI SENIOR</li>
              <li>JUNIOR ADV</li>
              <li>JUNIOR</li>
            </ul>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <app-footer
    [previousPath]="'lets-imagine'"
    [nextPath]="'triforce'"
  ></app-footer>
</div>
